#html {
  scroll-behavior: smooth;
  font-family: "Monteserrat" sans-serif;
}

header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://plus.unsplash.com/premium_photo-1683140528023-911d3b1d6327?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: top left;
}

h1 {
  font-size: 3rem;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

header a {
  background: #000;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
}

.scrollContainer {
  width: 100vw;
  min-height: 60vh;
  overflow: hidden;
  transition: background-image 2s;
}

.scrollText {
  margin: 50vh auto;
  max-width: 50rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.8);
  color: #000;
}
#changingBg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 50vh;
}

#introduction {
  background-image: url("https://images.unsplash.com/photo-1675337330731-7329d715137f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.textSection {
  max-width: 50rem;
  margin: 0 auto;
  display: block;
  clear: both;
}

#titleNorge {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-family: "Monteserrat", sans-serif; /* Add a suitable font */
}

/*Maps*/
#trip {
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: 900px;
  margin: 10px auto;
}

/* Add any additional styles as needed */

#map {
  height: 600px;
  width: 800px;
  margin: 10px auto;
}
#countries {
  background-color: #f8f8f8; /* Add a light background color */
  padding: 1rem;
  margin-top: 1rem;
}

article {
  border: 1px solid #ccc;
  background: #f3f3f3;
  padding: 0.5rem;
  margin-bottom: 5px;
}
h2 {
  text-align: center;
}
/*Maps*/

.alignRight {
  float: right;
  margin: 0 0 1rem 1rem;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding-top: 50px;
  box-sizing: border-box;
}
.redBg {
  background: #b61010;
  color: #fff;
}
.greenBg {
  background: #588002;
  color: #fff;
}
.big {
  text-align: center;
  font-size: 4rem;
  display: block;
  clear: both;
}
.small {
  text-align: center;
  font-size: 2rem;
  margin: 0 auto;
  display: block;
}

/*Musa*/
.textSection {
  max-width: 50rem;
  margin: 0 auto;
  display: block;
  clear: both;
  padding-top: 70px;
  padding-bottom: 70px;
}
.sectionImg {
  height: 500px;
  width: auto;
}

#rakka {
  background-image: url("https://www.reach-initiative.org/wp-content/uploads/2017/10/RaqqaVI.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#norge {
  background-image: url("https://a.cdn-hotels.com/gdcs/production106/d1597/5303351b-a7d2-4775-994a-348002ea13d2.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#aid {
  background-image: url("https://media.msf.org/AssetLink/8m8mx304pi1a4j2bxxhcb13tjj5y4442.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/*Media Quries*/
@media (max-width: 480px) {
  /* Adjustments for mobile screens */
  body {
    font-family: "Monteserrat" sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
  }
  img {
    max-width: 100%;
    height: auto;
    width: auto;
    background-attachment: fixed;
  }
  .textSection {
    margin-left: 20px;
    margin-right: 20px;
  }
  .sectionImg {
    width: auto;
    height: auto;
  }
}

/* Media Queries for Responsive Design */
@media (min-width: 481px) and (max-width: 768px) {
  /* Adjustments for tablet screens */
  body {
    font-family: "Monteserrat" sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.8rem;
  }
  img {
    max-width: 100%;
    height: auto;
    width: auto;
    background-attachment: fixed;
  }
  .textSection {
    margin-left: 30px;
    margin-right: 30px;
  }
  .sectionImg {
    width: auto;
    height: auto;
  }
}
